<div class="row header">
	<div class="col-md-12 header-item">
		<div class="container-url">
			<h2 class="tag-line">EARN MORE WITH <span>LNKY</span></h2>
			<form id="shortenForm" class="url d-flex justify-content-center">
				<input class="field-url" type="text" name="u" placeholder="PASTE URL HERE">
				<input type="submit" id="field-submit-2" class="field-submit" data-toggle="modal" data-target="#myModal--" value="SHORTEN">
			</form>
			<div class="choices d-flex justify-content-center">
				<div class="adb-choice">
					<span>Disable Adblock</span><input type="checkbox" id="adb" class="adb-slider" name="adb">  
				</div>

				<div class="monitize-choice">
					<span>Monitize Link</span><input type="checkbox" id="monitize" class="monitize-slider" name="monitize" checked="checked"> 
				</div>
			</div>
		</div>
	</div>
</div>