<div class="row header">
	<div class="col-md-12 header-item">
		<div class="container-url">
			<h2 class="tag-line">EARN MORE WITH <span>LNKY</span></h2>
			<form class="url d-flex justify-content-center">
				<input class="field-url" type="text" name="u" placeholder="PASTE URL HERE">
				<button id="field-submit" class="field-submit" data-toggle="modal" data-target="#myModal">SHORTEN</button>
			</form>
			<div class="choices d-flex justify-content-center">
				<label for="adb">
					<input type="checkbox" id="adb" name="adb"> Disable Adblock 
				</label>

				<label for="monitize">
					<input type="checkbox" id="monitize" name="monitize" checked="checked"> Monitize Link 
				</label>
			</div>
		</div>
	</div>
</div>