{% extends "_base.twig" %}

{% block content %}
	<div class="row header">
		<div class="col-md-12 header-item">
			<div class="container-url">
				<span class="tag-line">EARN MORE WITH <span>LNKY</span></span>
				<div class=" d-flex justify-content-center">
					<input class="field-url" type="text" name="url" placeholder="PASTE URL HERE">
					<button class="field-submit">SHORTEN</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row sub-header">

		<div class="col-md-3 sub-header-cta d-flex justify-content-center align-items-center">
			<button class="btn btn-primary btn-lg">JOIN NOW!</button>
		</div>
		<div class="col-md-5">
			<p class="sub-header-tag">
				Monitize Your Short Links <br>like a <span class="lnky">BOSS</span>
			</p>
		</div>
		<div class="col-md-4 adb d-flex justify-content-center align-items-center">
			Prevent Adblockers and earn more
		</div>
	</div>

	<div class="row how-to">
		<div class="col-md-12">
			<h2>How LNKY Works</h2>
		</div>
	</div>

{% endblock %}