<!DOCTYPE html>
<html>
<head>
	<title>Lnky</title>
	<style>
		@import "css/main.css";
	</style>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

</body>
</html>