{% extends "_base.twig" %}

{% block scripts %}
	<script src="/js/ads.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="js/shorten.js"></script>
{% endblock %}

{% block content %}
	
	{{ include("_shortbar.twig") }}

	{{ app.session.get('user') }}

	<div class="row data">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<canvas id="myChart" height="100"></canvas>
		</div>
	</div>

	<a href="abp:subscribe?location=http://localhost/lnkyfiltersub.txt&title=LnkyList">Subscribe list</a>

	<script>
		$(document).ready(function(){
			var data = {
				    labels: ["1", "2", "3", "4", "5", "6", "7", "8"],
				    datasets: [
				        {
				            label: "Clicks",
				            fill: true,
				            lineTension: 0.0,
				            backgroundColor: "rgba(75,192,192,0.4)",
				            borderColor: "rgba(75,192,192,1)",
				            borderCapStyle: 'butt',
				            borderDash: [],
				            borderDashOffset: 0.0,
				            borderJoinStyle: 'miter',
				            pointBorderColor: "rgba(75,192,192,1)",
				            pointBackgroundColor: "#fff",
				            pointBorderWidth: 1,
				            pointHoverRadius: 7,
				            pointHoverBackgroundColor: "rgba(255,0,0,1)",
				            pointHoverBorderColor: "rgba(220,220,220,1)",
				            pointHoverBorderWidth: 2,
				            pointRadius: 5,
				            pointHitRadius: 10,
				            data: [65, 59, 80, 81, 56, 55, 40],
				            spanGaps: false,
				        }
				    ]
				};
				var ctx = $("#myChart");
				var myLineChart = new Chart(ctx, {
				    type: 'line',
				    data: data
				});
			});
	</script>

	<script type="text/javascript">

	$(document).ready(function(){
		if($.adbCheck === undefined) {

			console.log("adblock enabled");
		}
	});
	</script>

{% endblock %}